.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 112px;
  margin-bottom: 22px;
}

.changePhoto {
  margin: 0px;
  color: #1100ff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 36px;
  cursor: pointer;
}

#upload {
  display: none;
}

.changePhoto:hover {
  color: plum;
}

.info {
  background-color: #e8e0f1;
  border: none;
  border-radius: 20px;
  padding: 57px;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 20px;
}

.infoBox {
  width: 100%;
  margin-bottom: 8px;
}
.infoBoxTitle {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  margin: 0;
}

.infoBoxContent {
  background-color: white;
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.infoBoxText {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-left: 20px;
}

.infoBoxTextarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 45px;
  margin: 10px;
  resize: none;
  color: black;
  align-self: center;
  padding: 12px;
  font-family: sans-serif;
  max-height: 22px;
}

.infoBoxTextarea:focus {
  outline: none;
}

.editButton {
  background-color: transparent;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
}

.editButton:hover {
  background-color: #e8e0f1;
  border: none;
}

#save {
  background-color: #e8e0f1;
}

.editIcon {
  width: 24px;
  height: 24px;
}

.notification {
  color: black;
}
