.container {
  gap: 2rem;
  padding: 2rem;
}

.createdContests {
  font-size: clamp(1rem, 1.4vw, 2rem);
  margin: 0;
  margin-top: 0.5rem;
  margin-left: clamp(3.5rem, 3vw, 4.5rem);
  margin-bottom: 0.75rem; 
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #5D5A88;
}
  
.createdContestsText {
  font-size: clamp(2rem, 1.5vw, 3rem);
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  margin-left: 8rem; 
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #5D5A88;
}

.headerWrapper {
  display: flex;
  gap: 2rem;
}

.buttonWrapper {
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: 10rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}