.progressGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust number of columns as needed */
    gap: 1.5rem; /* Space between grid items */
    padding: 1rem;
}

.progressItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 3px solid #adabc3;
    border-radius: 15%;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f1fa;
    color: #333;
    cursor: pointer;
}

.progressItem.answered {
    background-color: #5d5a88;
    border: 3px solid #adabc3;
    color: black;
}

.progressItem.flagged {
    color: #d6d32b;
    border: 3px solid #d6d32b;
}

