#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

body {
  background-color: #F2F1FA;
  font-family: sans-serif;
}

.logo-text-container {
  display: flex;
  align-items: center; 
  justify-content: center;  
  gap: 250px; 
}

.intro-text {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  justify-content: center;
  height: 100vh;         
  text-align: center;     
}

.text-main {
  font-size: 64px;
  font-weight: bold;
  color: #5D5A88; 
  margin-bottom: -2rem;  
}

.text-sub {
  font-size: 1.2rem;
  margin-bottom: 2rem;  
  color: #9795B5;        
}

.btn-signin {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #5D5A88;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-signin:hover {
  background-color: #777;  
}

.logo {
  width: 600px;  
  height: auto;  
}
